@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-color: #5f259f; /* Couleur principale spécifiée dans l'énoncé */
  --foreground-color: #000; /* Couleur du texte */
  --background-start-color: #d6dbdc; /* Couleur de fond de départ */
  --background-end-color: #ffffff; /* Couleur de fond de fin */}
/*
:root {
  --primary-color: #5f259f;
}*/

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



/* Utilisation de la couleur principale pour les accents */
.primary {
  color: var(--primary-color);
}

/* Modifier les styles des composants selon les besoins */
/* Exemple : Modifier le style du bouton de recherche */
.MuiButton-containedPrimary {
  background-color: var(--primary-color);
  color: white; /* Couleur du texte pour le bouton */
}